# Ignore files and directories for Git
.env
client_secrets.json
/venv

# Ignore directories not meant for GitHub
/not_for_github
/Roboto

# Ignore Python cache directories
**/__pycache__/

# Ignore Visual Studio Code settings
/.vscode
